body{
    background: fixed;
    background-color: rgb(33, 54, 54);
}

.container{
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    padding: 40px;
    border-radius: 15px;
    
}

input[type='Text']{
    width: 40rem;
    height: 30px;
    border-radius: 10px;
    border: none;
}
button{
    border-radius: 10px;
    background-color: rgb(0, 238, 255);
    padding: 10px;
    width: 10vw;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color:  rgb(0, 238, 255);
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}